<template name="header">
	<nav class="navbar navbar-default navbar-fixed-top">
      	<div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="{{pathFor 'home'}}">Pluto</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	        	
	          	{{#if currentUser}}
	          		{{> profilePage}}
			    {{else}}
			        <ul class="nav navbar-nav navbar-right">
			            <li class="{{activeRouteClass  'login'}}"><a href="{{pathFor 'login'}}">Sign In</a></li>
			            <li class="{{activeRouteClass  'register'}}"><a href="{{pathFor 'register'}}">SignUp</a></li>
			        </ul>
			    {{/if}}
	        </div><!--/.nav-collapse -->
      	</div>
    </nav>
</template>
	