<template name="changePassword">
	<h1 class="page-header">Change Password</h1>
	<div class="row">
		{{#autoForm schema="Schema.changePasswordFormSchema" id="changePasswordForm" type="method" meteormethod="changePasswordMethod" template="bootstrap3-horizontal" }}
			{{> afQuickField name="password" type="password" label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{> afQuickField name="newPassword" type="password" label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{> afQuickField name="repeatPassword" type="password" label-class="col-sm-3" input-col-class="col-sm-9"}}
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		{{/autoForm}}
	</div>
</template>