<template name="jobListPage">
	<div class="row">
		<h1 class="page-header">Posts</h1>
		<div class="pull-right">
			<a class="btn btn-primary" href="{{pathFor 'job.create'}}" role="button">Create Post</a>
		</div>
	</div>
	<div class="row">
		{{> esInput index="job" allDocsOnEmpty=true class="form-control" placeholder="Search..." }}
		<div class="list-group">

		    {{#ifEsIsSearching index="job"}}
		        <div>Loading...</div>
		    {{else}}

		        {{#esEach index="job"}}
					<a href="{{pathFor 'job.update'}}" class="list-group-item">
						<h4 class="list-group-item-heading">{{summary}}</h4>
					    <p class="list-group-item-text">{{description}}</p>
					    <p class="list-group-item-text"> Location : {{jobLocation.name}}</p>
					    {{#if hasJobSkills}}
					    	<p class="list-group-item-text">
					    		Skills : 
					    		{{#each jobSkills}}
					    			<span class="label label-default">{{name}}</span>
					    		{{/each}}
					    	</p>
					    {{else}}
					    	<p>No Skills</p>
					    {{/if}}
					</a>
				{{/esEach}}
				<nav>
					<ul class="pager">
						{{> esPagination index="job" }}
					</ul>
				</nav>
		    {{/ifEsIsSearching}}
			{{#ifEsHasNoResults index="job"}}
		        <div class="no-results">No results found!</div>
		    {{/ifEsHasNoResults}}
		</div>
	</div>
</template>